<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= @title %></title>

</head>

<body>
  <div id="main">
    <div class="header">
      <h1>/public</h1>
    </div>

    <div class="content">
      <% @contents.each do |chapter| %>
        <p><a href="<%= File.basename(chapter) %>"><%= File.basename(chapter) %></a></p>
      <% end %>
    </div>

    <div class="sort">
      <br>
      <a href="?sort=a">Sort Ascending</a> <a href="?sort=z">Sort Descending</a>
      <br>
    </div>
  </div>
</body>
</html>
